# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\hieu\Java project\ 3. Mang va phuong thuc trong Java\[Thuc hanh] Tim gia tri nho nhat trong mang su dung phuong thuc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
