# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\hieu\Java project\ 3. Mang va phuong thuc trong Java\[Bai tap] Tim phan tu lon nhat trong mang hai chieu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
